<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Warning Alerts, Please!</strong> It will delete your all data.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

 <section class="page">
   <h1>Rails 5 Bootstrap 4 setup </h1>
   <p>Learning to style my backend web apps.</p>

</section>